.contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

form {
  width: 100%;
  justify-content: center;
  display: flex;
}

input {
  height: 30px;
}

.box-all-films {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.box-film-content, .title-films, .box-film-img {
  width: 100%;
}

.box-film-img {
  height: 400px;
  object-fit: cover;
}